
* {
  outline: none !important;
  box-sizing: border-box;
}

/* Space out content a bit */
body {
  background-position: initial;
  background-repeat: inherit;

  overflow: hidden;
}

.hide {
  display: none;
}

.warn {
  background-color: fade(yellow, 10%) !important;
}

.error {
  background-color: fade(red, 10%) !important;
}

.Root {
  padding: 15px;
}

.MasterMenu {

  // nested element
  @include e(title) {
    padding: 0;
  }

  // nested element
  @include e(star) {
    padding: 0;

    // nested element's modifier
    @include m(active) {
      padding: 0;
    }
  }
}
